@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h4>Welcome to Unprofessionals! The place where you can search online data for firms and people!</h4>
</div>

<div class="container mx-auto col-md-6 text-center my-auto">
	<h2>Custom search field</h2>
	<div class="search-container">
		<form asp-page="/home/search" method="get" class="d-flex">
			<input type="text" placeholder="Search.." name="searchResult">
			<button type="submit" class="btn border-dark bg-white text-dark">Search</button>
		</form>
	</div>
</div>

<a asp-page="/testpage/index">Test page</a>