@inject SignInManager<UnprofessionalsAppUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">Password</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)"  asp-page="./PersonalData">Personal data</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/comments/index">Comments</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/posts/index">Posts</a></li>
</ul>
