@page
@model UnprofessionalsApp.Web.Pages.Firms.CreateModel
@{
}

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-page="/firms/create" method="post" enctype="multipart/form-data">
	<input type="file" asp-for="InputModel.FirmFile"/>
	<span asp-validation-for="InputModel.FirmFile"></span>
	<input type="submit" value="Add firms" />
</form>