@page "{userId?}/{userName?}"
@model UnprofessionalsApp.Web.Areas.Identity.Pages.Account.DetailsModel

@{
	ViewData["Title"] = "Details Page";
}

<div class="task-head">
	<h1 class="text-center"></h1>
</div>
<hr class="hr-2" />
<div class="task-main-data-holder w-75 mx-auto d-flex justify-content-between">
	<h3 class="text-center">Level: Ivan</h3>
	<h3 class="text-center">Due Date: Gosho</h3>
</div>
<hr class="hr-2" />
<div class="task-secondary-data-holder row d-flex justify-content-between">
	<div class="task-participants-holder col-md-5">
		<h3 class="text-center">Participants</h3>
		<div class="task-tags-holder w-75 mx-auto">
			<h6 class="text-center text-torshia">
				stamat
			</h6>
		</div>
	</div>
	<div class="task-participants-holder col-md-5">
		<h3 class="text-center">Affected Sectors</h3>
		<div class="task-tags-holder w-75 mx-auto">
			<h6 class="text-center">Georgi</h6>
		</div>
	</div>
</div>
<hr class="hr-2" />
<h3 class="text-center">Description</h3>
<div class="product-description-holder">
	<p class="text-center mt-4">
		Dim4o
	</p>
</div>
<hr class="hr-2" />
<div class="button-holder d-flex justify-content-center">
	<a asp-controller="Home" asp-action="Index" class="btn bg-torshia text-white">Back</a>
</div>